@tailwind base;
@tailwind components;
@tailwind utilities;







/* --------------------------------------------------------- */


@keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .shimmery-button {
    position: relative;
    overflow: hidden;
    background-size: 400% 100%; /* Adjust the background size to ensure smooth transition */
    background-image: linear-gradient(
      110deg,
      #3b82f6 20%,
      #2563eb 40%,
      #3b82f6 60%
    );
    animation: shimmer 6s linear infinite;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
  .shimmery-button:disabled {
    background: #3b82f6;
    animation: none;
  }
  